
<!-- Syntaxregelen-->
<div class="row" id="row3">
    <div class="col-md-4"></div>
    <div id="syntax" class="col-md-4">
        <h4 class="center" id="link1">Syntax</h4>
        <p class="center">Keine Leerzeichen verwenden</p>
        <p class="center">Angaben werden mit Kommata getrennt</p>
        <p class="center">Es können Tage eingegeben werden</p>
        <p class="center">Es können Wochentage eingegeben werden</p>
        <p class="center">Jede Angabe kann mit '!' negiert werden</p>
    </div>
</div>

<!-- inputTable Termine -->
<div class="row" id="row4" style="padding-top:30px">
    <table class="table" id="inputTable">
        <thead>

            <th>Mitarbeiter</th>
            <th>Tage</th>
            <th>Max. Anzahl</th>
            <th>T</th>
            <th>K</th>
            <th style="text:align-center">Rezepte</th>

        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2">
        <button id="insertButton" type="button" class="btn btn-pot btn-block">Monatsplan Generieren</button>
    </div>
</div>

