
<!--Datumseingabe-->
<div class="row" id="startInput">
    <div class="col-md-5"></div>
    <div class="col-md-2">
        <div>
            <form class="vertical">

                <div class="formgroup">
                    <label for="month">Monat</label>
                    <input type="number" class="form-control" placeholder="Monat (Zahl)" value ="1"/>
                </div>

                 <div class="formgroup">
                    <label for="year">Jahr</label>
                    <input type="number" class="form-control" placeholder="Jahr" value ="2016"/>
                </div>
            </form>
            <button style="margin-top: 20px;" id="createButton" type="button" class="btn btn-default btn-block">Erzeugen</button>

        </div>
    </div>
</div>

