
<!--Datumseingabe-->
<div class="row" id="startInput">
    <div class="col-md-5"></div>
    <div class="col-md-2">
        <div>
            <form class="vertical">
                    <label for="month">Monat</label>
                    <input id="month" type="number" class="form-control" placeholder="Monat (Zahl)" />
            
                    <label for="year">Jahr</label>
                    <input id="year" type="number" class="form-control" placeholder="Jahr" />
    
            </form>
            <button style="margin-top: 20px;" id="createButton" type="button" class="btn btn-pot btn-block">Erzeugen</button>

        </div>
    </div>
</div>

