
<!--Preview Table-->
   <div class="col-md-12">
        <table id="tablePreview" class="table table-hover table-condensed table-bordered table-responsive">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Gericht / Aktion</th>
                    <th>Theke</th>
                    <th>Küche</th>
                </tr>
            </thead>

            <tbody>
                <!-- Fill the table -->
            </tbody>

        </table>
    </div>


