<!-- Monatsplan -->
<div class="row" id="row2">
    <div class="col-md-12">
        <table id="tableUser" class="table table-hover table-condensed table-bordered table-responsive">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th style="text-align: center">Gericht</th>
                    <th style="text-align: center">Theke</th>
                    <th style="text-align: center">Küche</th>
                </tr>
            </thead>

            <tbody>
                <!-- Fill the table -->
            </tbody>

        </table>
    </div>
    
</div>
<div class="row">
    <div class="col-lg-5"></div>
    <div class="col-lg-2">
        <button id="reloadButton" type="button" class="btn btn-pot btn-block">Neu Laden</button>
    </div>
</div>


        
        