
  <th class="day" scope="row">Day</th>
  <td class="col-md-4">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuX" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Meals
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuX">
        <li><a href="#">some meal</a></li>
      </ul>
    </div>
  </td>
  <td class="col-md-3">
    <ul class="theke">

    </ul>
  </td>
  <td class="col-md-3">
    <ul class="koch">

    </ul>
  </td>
