<!-- Monatsplan -->
<div class="row" id="row2">
    <div class="col-lg-12">
        <table id="tableUser" class="table table-hover">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th style="text-align: center">Gericht</th>
                    <th style="text-align: center">Theke</th>
                    <th style="text-align: center">Küche</th>
                </tr>
            </thead>

            <tbody>
                <!-- Fill the table -->
            </tbody>

        </table>
    </div>
</div>
        
        