// out: print.css, autoprefixer: true, compress: false
html,
body {
	margin: 0;
	padding: 0;
	text-align: justify;
	hyphens: auto;
}

@factor: 2;

@page {
	size: 21cm*@factor 29.7cm*@factor;
	margin: 0;
	prince-bleed: 0mm;
	prince-image-resolution: 300dpi;
	font-family: sans-serif;
}

.page {
	page-break-before: always;
	position: relative;
	overflow: hidden;
	width: 21cm*@factor;
	height: 29.7cm*@factor;
}

#mainPage {
	//background-image: url('month3.svg');
	background-repeat: no-repeat;
	background-size: 100% auto;
}

#header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 5.5cm*@factor;
	background-color: #f9931b;
    
	
	#logo {
		position: absolute;
		top: -2cm*@factor;
		left: 3cm*@factor;
		width: 15cm*@factor;
		height: 10cm*@factor;
		background-image: url('lib/images/Pot-Logo.svg');
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
    #month {
        position: absolute;
		top: 3.5cm*@factor;
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 36pt;
        font-weight: bold;
    }
	
}
#ohauslogo {
		position: absolute;
		top: 0.7cm*@factor;
		right: 1.7cm*@factor;
		width: 2.5cm*@factor;
		height: 10cm*@factor;
		background-image: url('lib/images/ohauslogo2.svg');
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4cm*@factor;
    background: #f9931b;
    
    #open{
        position: absolute;
        bottom: 0.4cm*@factor;
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 20pt;
        font-family: inherit;
    }
    #facebook{
        position: absolute;
        bottom: 0.8cm*@factor;
        left: 1.3cm*@factor;
        width: auto;
		
        height: 2cm*@factor;
        text-align: center;
		line-height: 1cm*@factor;
		vertical-align: middle;
        font-size: 28pt;
        font-family: inherit;
        font-weight: bold;
        background-image: url('lib/images/fb-logo.svg');
        background-position: left;
        background-size: auto 1cm*@factor;
        background-repeat: no-repeat;
        padding-left: 1cm*@factor;
		padding-top: 1.2cm*@factor;
    }
}



table {
	position: absolute;
	width: 18cm*@factor;
	height: auto;
	//left: 1.5cm*@factor;
	top: 6cm*@factor;
	border: 1px solid transparent;
	margin: 0;  
	padding: 0; 
	border-spacing: 0;
	border-collapse: collapse;
	  /* rgba(255, 255, 255, 0.6);*/
	font-size: 20pt;
	thead {
		display: table-header-group;
		vertical-align: middle;
	}
	tbody {
		background-color: rgba(249, 147, 27, 0.3);
	}
	th {
		height: 0.6cm*@factor;
		background-color: #f9931b;
		border: 1px solid transparent;
		border-bottom-color: white;
	}
	tr {
		display: table-row;
		vertical-align: inherit;
//		border-color: white;
		
		&.weekend {
			background-color: rgba(249, 147, 27, 0.7);
			color: black;
		}
	}
	td {
		border: 1px solid transparent;
		height: 0.6cm*@factor;
		
		
		&.number {
			background-color: #f9931b;
			width: 0.2cm*@factor;
			border-right-color: white;
			text-align: right;
			font-weight: bold;
		}
		
		&.day {
			background-color: rgba(249, 147, 27, 0.7);
//			border-left-color: white;
			color: black;
			width: 0.2cm*@factor;
			text-align: left;
		}
		
		&.koch,
		&.theke {
			width: 3cm*@factor;
		}
        &.aktion {
        	background-repeat: no-repeat;
        	background-size: auto 60%;
        	background-position: center left;
			
        	&.party {
        		background-color: rgb(206, 113, 5); //#d91e18;
//        		font-weight: bold;
        	}
			
        	&.cl {
        		background-image: url('lib/images/cl-logo.svg');
        		text-align: center;
        	}
			
        	&.cocktail {
        		background-image: url('lib/images/cocktail.svg');
        		text-align: center;
        	}
			
        	&.jamsession {
        		background-image: url('lib/images/jamsession.svg');
        		text-align: center;
        	}
        }
		
		div.gericht {
			background-repeat: no-repeat;
			background-size: auto 80%;
			background-position: center left;

			width: 100%;
			height: 100%;
			
			&.pic {
				background-image: url('lib/images/animals/pic.svg');
			}
			&.chicken {
				background-image: url('lib/images/animals/chicken.svg');
			}
			&.fish {
				background-image: url('lib/images/animals/fish.svg');
			}
			&.cow {
				background-image: url('lib/images/animals/cow.svg');
			}
            
            &.veg {
                background-image: url('lib/images/animals/veg.svg');
            }
		}
	}
	td,
	th {
		display: table-cell;
		margin: 0;
		padding: 0.06cm 0.13cm;
		vertical-align: middle;
		line-height: 0.8cm;
		text-align: center;
	}
	input {
		border: none;
		padding: 0;
	}
}